---
- block:
  - name: create default collection type
    command: bundle exec rails compel:create_default_collection_type
    args:
      chdir: '{{ project_app_root }}'

  - name: create roles
    command: bundle exec rails compel:add_roles
    args:
      chdir: '{{ project_app_root }}'
  become: yes
  become_user: '{{ project_runner }}'
  environment:
    RAILS_ENV: '{{ project_app_env }}'
